* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-fullwidth {
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header a{
    text-decoration: none;
}

h1{
    color: #d71d29;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    color: #d71d29;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

section {
    padding: 20px;
    min-height: 50vh;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-search {
    padding: 10px 12px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-weight: 700;
}

#btn-search:hover{
    background-color: #d71d29;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#input-search {
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.container {
    display: flex;
}

.card-container {
    padding: 40px 0;
    overflow-x: auto;
}

.card {
    margin: 15px;
    color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 342px;
    min-height: 500px;
}

.card-text {
    padding-top: 15px;
    display: none;
}

.copertina {
    font-weight: 700;
    font-size: 30px;
}
.testo-overview {
    max-height: 300px;
    overflow-y: auto;
}

.card-text.active {
    display: block;
}

.card.shadow{
    box-shadow: 0 5px 20px #d71d29;
}

.card p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.card span {
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.fas.fa-star {
    color: yellow;
}

.box-language {
    display: flex;
    align-items: center;
}

.box-language img {
    padding-left: 10px;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }
}
