* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-fullwidth {
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.container-search {
    align-self: center;
    padding-top: 40px;
}

.container {
    display: flex;
}

.card-container {
    padding: 40px;
    overflow-x: auto;
}

.card {
    margin: 15px;
    color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex: 0 0 342px;
}

.card-text {
    padding-top: 15px;
    display: none;
}

.testo-overview {
    max-height: 300px;
    overflow-y: auto;
}

.card-text.active {
    display: block;
}

.card.shadow{
    box-shadow: 0 5px 20px #b50b11;
}

.card p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.card span {
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.barra-ricerca {
    height: 40px;
    font-size: 20px;
}

.fas.fa-star {
    color: yellow;
}

.box-language {
    display: flex;
    align-items: center;
}

.box-language img {
    padding-left: 10px;
}
